!!!
%html
  %head
    %title
    = stylesheet_link_tag "compiled/screen"
    = stylesheet_link_tag "compiled/formtastic"
    = stylesheet_link_tag "compiled/formtastic_changes"

  %body.bp
    .container
      %p.notice= flash[:notice]
      %p.alert= flash[:alert]
      = yield
